body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0, 0%, 100%);
    width: 576px;
    margin-top: 120px;
    border: none;
    border-radius: 12px;
}

.product-img-section img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.add-to-cart{
    width: 100%;
    height: 40px;
    color: white;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;

}

.product-pricing{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.selling-price{
    font-family: Fraunces, Arial, Helvetica, sans-serif;
    color: hsl(158, 36%, 37%);
}

.cost-price{
    text-decoration: line-through;
}

.product{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
}

.product-name{
    margin: 0;
    font-family: Fraunces, Arial, Helvetica, sans-serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    line-height: 30px;
}

.product-info{
    line-height: 20px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

